<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cancha.nombre %>
</p>

<p>
  <b>Caracteristicas:</b>
  <%= @cancha.caracteristicas %>
</p>

<p>
  <b>Diahora:</b>
  <%= @cancha.diahora %>
</p>

<p>
  <b>Tarifa:</b>
  <%= @cancha.tarifa %>
</p>

<p>
  <b>Promocion:</b>
  <%= @cancha.promocion %>
</p>


<%= link_to 'Edit', edit_cancha_path(@cancha) %> |
<%= link_to 'Back', canchas_path %>
